<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/header}">
<head>
<meta charset="UTF-8">
<title>メインメニュー</title>
</head>
<body>

	<div layout:fragment="main">
        <nav class="breadcrumb has-dot-separator" aria-label="パンくずリスト">
            <ul>
                <li class="is-active"><a href="#" aria-current="page">TOP</a></li>
            </ul>
        </nav>
        
		<div class="ml-6 mr-6 box">
			<h2 class="title mb-6">メニュー選択</h2>		
			<div class="columns">
				<div class="column is-one-quarter">
					<button onclick="location.href='/oh210/sales_managed'" class="button is-medium is-fullwidth has-background-light">売上履歴</button>
				</div>
				<div class="column is-one-quarter">
					<button onclick="location.href='/oh220/employees_edit'" class="button is-medium is-fullwidth has-background-light">社員編集（検索）</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>